<%= form_with(model: phone, data: {submits_to_ajax_modal: true}) do |f| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.select :country_code, options_for_select(TelephoneNumber::Country.all_countries.map{ |x| [x.country_id, x.country_code] }, selected: f.object.country_code), {}, :id => "country_code_select" %>
    <%= f.text_field :normalized_number, placeholder: "9991231234", id: "phone_number_field" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
