= form_for @currency do |f|
  - if @currency.errors.any?
    #error_explanation
      %h2= "#{pluralize(@currency.errors.count, "error")} prohibited this currency from being saved:"
      %ul
        - @currency.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :bitcoin
    = f.check_box :bitcoin
  .field
    = f.label :lightcoin
    = f.check_box :lightcoin
  .field
    = f.label :dogecoin
    = f.check_box :dogecoin
  .actions
    = f.submit 'Save'
