%h1 Listing currencies choises

%table
  %thead
    %tr
      %th Bitcoin
      %th Lightcoin
      %th Dogecoin
      %th User
      %th
      %th
      %th

  %tbody
    - @currencies.each do |currency|
      %tr
        %td= currency.bitcoin
        %td= currency.lightcoin
        %td= currency.dogecoin
        %td= currency.user_id
        %td= link_to 'Show', currency
        %td= link_to 'Edit', edit_currency_path(currency)
        %td= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' }
